.banner {    
    background-image: url(../imgs/background1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}

.banner-text {
    width: 100%;
    margin: auto;
}

.banner-text .subtitle {
    font-family: var(--font-title);
    font-size: 2rem;
    width: 90%;
    margin: auto;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    
}

.banner-text .title {
    font-family: var(--font-title);
    font-size: 3.6rem;
    font-weight: 700;
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
}

.banner-text .text {
    font-size: 1.6rem;
    margin-top: 1.9rem;
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
    line-height: var(--line-height);
}

.banner-text .button {
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
}

.banner-text .button button {
    transition: all ease 0.2s;
    cursor: pointer;
}

.banner-text .button button:hover {
    background-color: #8ec8ff;
}

/* RESPONSIVE TABLET */
@media (min-width: 600px) {

    .banner {
        height: 80vh;
    }

    .banner-text .subtitle {
        font-size: 2.8rem;
    }

    .banner-text .title {
        font-size: 6rem;
        font-weight: 600;
    }

    .banner-text .text {
        font-size: 2rem;
        font-weight: normal;
    }
}

/* RESPONSIVE PC */
@media (min-width: 1200px) {

    .banner {
        height: 90vh;
    }

    .banner-text {
        width: 80%;
        margin: 0;
    }
}