.experienced-lawyers {
    width: 100%;
    margin-top: 3rem;
    background-color: var(--gray-person);
    
}

.experienced-lawyers-text {
    width: 100%;
    margin: auto;
}

.experienced-lawyers-text .subtitle {
    font-family: var(--font-title);
    font-size: 2rem;
    text-transform: uppercase;
    width: 90%;
    margin: auto;
}

.experienced-lawyers-text .title {
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 3rem;
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
}

.experienced-lawyers-text .description {
    font-family: var(--font-text);
    font-size: 1.6rem;
    text-align: justify;
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
    line-height: 2.3rem;
}

/* RESPONSIVE */
@media (width > 600px) {

    .experienced-lawyers-text .title {
        font-size: 4.8rem;
        line-height: 4.5rem;
        font-weight: 400;
    }

    .experienced-lawyers-text .description {
        font-size: 1.8rem;
    }

}