.experienced-lawyers-items {
    width: 100%;
    margin-top: 2rem;
}

.items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: auto;
}

/* .items .item {
    background-color: brown;
} */

.item .number {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-top: 4rem;
}

.item .title {
    font-family: var(--font-title);
    font-size: 2.4rem;
    font-weight: 600;
    margin-top: 2.6rem;
}

.item .text {
    font-family: var(--font-text);
    font-size: 1.6rem;
    margin-top: 1.4rem;
    line-height: 2.3rem;
}

/* RESPONSIVE PC */
@media (min-width: 900px) {
    .items {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}