.experienced-lawyers {
    height: 50.1rem;
    padding: 6rem;
    background-color: var(--gray-person);
    margin: auto;
}

.experienced-lawyers-text .subtitle {
    font-family: var(--font-title);
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 2.6rem;
    width: 34rem;
}

.experienced-lawyers-text .title {
    font-family: var(--font-title);
    font-size: 3rem;
    line-height: 3rem;
    width: 34rem;
    margin-top: 2.1rem;
}

.experienced-lawyers-text .description {
    font-family: var(--font-text);
    font-size: 1.6rem;
    text-align: justify;
    margin-top: 1.8rem;
}

/* RESPONSIVE */
@media (width > 600px) {

    .experienced-lawyers {
        width: 82rem;
        height: 40.4rem;
        background-color: aqua;
    }
    .experienced-lawyers-text .subtitle {
        font-size: 2rem;
        width: 39rem;
        letter-spacing: 0.1rem;
    }
    
    .experienced-lawyers-text .title {
        font-size: 4.8rem;
        line-height: 5rem;
        font-weight: 400;
        width: 72rem;
    }

    .experienced-lawyers-text .description {
        width: 72rem;
    }

}