.hero-images {
    width: 100%;
    margin-top: 6rem;
    
}

.images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    margin: auto;
}

.images .image {
    width: 100%;
    margin: auto;
    
}

.images .image img {
    width: 100%;
}

.text-image .title {
    font-family: var(--font-title);
    font-size: 1.8rem;
    margin-top: 3rem;
    font-weight: bold;

}

.text-image .describe {
    font-family: var(--font-text);
    font-size: 1.6rem;
    margin-top: 2.1rem;
}

.text-image .button {
    margin: 3rem 0;
}

/* RESPONSIVE TABLET */
@media (min-width: 600px) {

    .hero-images {
        margin-top: 6rem;

    }

    .text-hero .title, .text-image .describe {
        font-size: 1.8rem;
    }
}

@media (min-width: 900px) {
    .images {
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}