.hero {
    padding: 1.5rem 0;
    width: 100%;
    background-color: var(--gray-person);
    
}

.hero .text-hero {
    margin-top: 8rem;
    
}

.text-hero .subtitle {
    font-family: var(--font-title);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 2.6rem;
    width: 90%;
    margin: auto;
}

.text-hero .title {
    font-family: var(--font-title);
    font-size: 3rem;
    font-weight: 500;
    width: 90%;
    margin: auto;
    margin-top: 2.1rem;
}

.text-hero .text {
    font-family: var(--font-text);
    font-size: 1.6rem;
    font-weight: normal;
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 2.1rem;
}

/* RESPONSIVE TABLET */
@media (min-width: 600px) {

    .hero .text-hero {
        width: 100%;
    }

    
    .text-hero .subtitle {
        
        margin-top: 6rem;
    }

    .text-hero p.title {
        font-size: 4.8rem;        
        font-weight: 400;
    }

    .text-hero .text {
        font-size: 1.8rem;
        font-weight: normal;
        text-wrap: wrap;
        line-height: var(--line-height);
    }
}